<h2 class="text-center">About Dev Street</h2>
<p class="text-center">Developer's Street - A Software-as-a-Service application that will give
  access to an exclusive community of investors, entrepreneurs, and developers.</p>
