    <section class="jumbotron text-xs-center">
      <div class="container">
        <h1 class="jumbotron-heading">Dev Street</h1>
        <p class="lead text-muted">
          This is where Developers hangout. Join us now and start connecting
          with our pool of talented and creative developers.
        </p>
        <p>
          <a href="http://localhost:3000/users/sign_up?plan=1"
                                class="btn btn-primary">Try Basic Membership</a>
          <a href="http://localhost:3000/users/sign_up?plan=2"
                                class="btn btn-success">Go PRO Now</a>
        </p>
      </div>
    </section>

  <hr class="style17">

  <div class="bd-example" data-example-id="AboutImage">
    <div class="media">
      <div class="col-md-4 col-sm-12 media-left media-middle">
        <a href="#">
          <%= image_tag("AboutImage.jpg", :class => "img-circle") %>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">About Dev Street App</h4>
        <p>This is a membership-based web application where users can sign up for
           free or pay a monthly subscription fee for access to our site.
        </p>
        <p>This Software-as-a-Service application will give access to an exclusive
        community of investors, entrepreneurs, employers and developers.
        </p>
      </div>
    </div>
  </div>


  <div class="navbar navbar-fixed-bottom">
    <footer class="text-muted">
        <div class="container">
          <p class="pull-right">
            <a href="#">Back to top</a>
          </p>

          <p class="text-center">Dev Street designed and developed by &copy; 2016 <a href="http://ranthonyrivera.com">blue0knight.</a></p>
          <p class="text-center">Feel free to <a href="https://github.com/blue0knight/DevStreet">download</a> and customize it for yourself!</p>
        </div>
    </footer>
  </div>
